  .backbutton {
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: var(--accent2);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
}

.backbutton > svg {
  width: 34px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.backbutton:hover svg {
  transform: translateX(-0.5em);
}