/* Start of header css */

.navbar {
    background-color: var(--accent1);
    color: var(--main-background-color);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navbar h2 {
  text-align: left; /* Align title to the left */
  font-size: xx-large;
  font-family: 'Galindo';
}

.navbar .icon {
  cursor: pointer;
  font-size: 24px;
}

.navbuttons {
  display: flex;
  gap: 0.5em;
  height: 50px;
}

.navbuttons button {
  font-size: medium;
  font-weight: 100;
  border: 0;
  color: var(--main-background-color);
  background-color: transparent;
  padding: 0.5em 1em; 
  cursor: pointer;
  border-radius: 0.5em;
  margin-left: 1em;
}

.navbuttons button:hover {
  background-color: var(--main-background-color);
  color: var(--accent1);
  transition: 0.2s ease-in-out;
}