.join-page {
    background-color: var(--main-background-color);
    font: var(--main-font);
    color: var(--main-text-color);
}

.join-button {
    width: 100px;
    height: 50px;
    margin: 10px;
}

.teamCard-button {
    width: 100%;
    height: 100%;
}