.deckbox {
  overflow: wrap;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  width: 100%;
  cursor: pointer;
  border: 0;
}
.title {
  display: block;
  width: 100%;
  color: var(--main-background-color);
}
.description {
  display: block;
  color: var(--main-background-color);
  font-weight: 100;
}
