.deckspage {
  color: var(--main-text-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Add this to stack h1 above grid-container */
  align-items: center;
  background-color: var(--main-background-color);
}

.deckspage button {
  border: 0;
  padding: 1em;
  cursor: pointer;
  box-shadow:  20px 20px 20px #bebebe,
             -20px -20px 20px #ffffff;
  background-color: var(--accent3);
  color: var(--main-background-color);
  border-radius: 0.5em;
}

.grid-container { 
  padding: 3em 1em;
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 2em;
}

.deck-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.deck-item button {
  border: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent1);
  border-radius: 1em;
  box-shadow:  20px 20px 20px #bebebe,
             -20px -20px 20px #ffffff;
}