.page {
    color: var(--main-text-color);
    width: 100%;
    height: 100vh;
    background-color: var(--main-background-color);
    font-family: var(--main-font);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.togglecontainer {
    display: flex;
    padding: 2em;
}

.btn {
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 0.5em;
}

.active {
    background-color: white;
    cursor:auto;
}