.authpage {
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    min-height: 95vh;
}

.authpage .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.authpage .togglecontainer {
    display: flex;
    margin: 2em;
    border-radius: 0.5em;
    background-color: var(--accent1);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    color: var(--main-background-color);
}

.authpage .btn {
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 0.5em;
}

.authpage .active {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    cursor: auto;
    transition: 0.2s ease-in-out;
}

.authpage .authform {
    margin-top: 2em;
    padding: 1em 3em;
    border-radius: 0.5em;
    background-color: var(--accent1);
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    color: var(--main-background-color);
}

.authpage .authform div {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.authpage .authform input {
    border-radius: 0.5em;
    border: 0;
    height: 2em;
    margin-bottom: 1em;
}

.authpage .authform label {
    font-weight: 100;
}

.authpage .authform button {
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    cursor: pointer;
    color: var(--main-text-color);
}