.accountpage {
    color: var(--main-text-color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    background-color: var(--main-background-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

.teamCard {
  display: flex;
}

.teamInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 1em;
  padding: 0.2em 1em;
}

h3 {
  padding-right: 1em;
}