.titlepage {
    color: var(--main-text-color);
    min-height: 45vh;
    padding: 12em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color);
    font-family: 'Impact', sans-serif;
}

.titlepage .maintitle {
    text-align: center; /* Align title to the left */
    font-size: 100px;
    color: var(--main-text-color);
}
  
.titlepage .icon {
  cursor: pointer;
  font-size: 24px;
}

.titlepage .navigation {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.titlepage .buttons {
  display: flex;
  gap: 1em;
  margin-top: 3em;
  text-align: center;
}

.titlepage .buttons button {
  cursor: pointer;
  border: 3px solid var(--accent1);
  background-color: transparent;
  border-radius: 0.5em;
  color: var(--accent1);
  font-size: large;
  padding: 1em 2em;
}

.titlepage .buttons button:hover {
  cursor: pointer;
  background-color: var(--accent1);
  color: var(--main-background-color);
  transition: 0.2s ease-in-out;
}