.page {
    color: var(--main-text-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main-background-color);
    padding: 2em 1em;
}
.question {
    padding: 1em;
    text-align: left;
}
.questionlist {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    counter-reset: list-counter;
}
.questionlist li {
    counter-increment: list-counter; /* Increments counter for each <li> */
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 1em;
    overflow-wrap: normal;
    text-overflow: wrap;
    border: 2px solid var(--accent3);
    border-radius: 1em;
    margin: 1em 0;
}
.questionlist li::before {
    content: counter(list-counter); /* Adds numbers with a period */
    font-weight: 700;
    color: var(--accent3);
  }

.backbutton {
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: var(--accent2);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1em;
}

.backbutton > svg {
  width: 34px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.backbutton:hover svg {
  transform: translateX(-0.5em);
}
  

.add-userdeck-btn {
  border: 0;
  padding: 1em;
  cursor: pointer;
  box-shadow:  20px 20px 20px #bebebe,
             -20px -20px 20px #ffffff;
  background-color: var(--accent3);
  color: var(--main-background-color);
  border-radius: 0.5em;
}

.add-userdeck-btn:hover {
  background-color: var(--accent3);
  transition: 0.2s ease-in-out;
}